body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* Глухой чёрный цвет подложкой */
    color: #ffffff;
    font-family: 'Press Start 2P', monospace;
}

/* Создаем скрытый изолированный слой строго под фоновую картинку */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.45)
        ),
        url('bg-film.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: none;
}

/* Гарантируем, что все кнопки, инпуты и колонки стоят ПОВЕРХ фона чёткими */
.container, .buttons-column, button, input {
    position: relative;
    z-index: 1; 
}
h1 {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

/* Накатываем магию флексов на общий контейнер */
.container {
    display: flex !important; 
    flex-direction: row !important; /* Выстраиваем внутренние блоки строго в строчку */
    justify-content: center; /* Центруем обе колонки по центру экрана */
    gap: 40px; /* Делаем красивый, ленивый отступ между колонками, чтобы они не липли */
    margin-top: 50px; /* Отступаем сверху от главного логотипа */
    width: 100%;
}

/* Настройки для самих колонок (чтобы они были ровными и аккуратными) */
.column {
    background: rgba(0, 0, 0, 0.7); /* Ленивый полупрозрачный чёрный фон, чтобы текст читался идеально поверх паутины */
    border: 2px solid #ffffff; /* Белая пиксельная рамка в стиле хоррора */
    padding: 20px;
    min-width: 250px;
    text-align: center;
}
button{
    background: rgba(0, 0, 0, 0.7); /* Ленивый полупрозрачный чёрный фон, чтобы текст читался идеально поверх паутины */
    border: 2px solid #ffffff; /* Белая пиксельная рамка в стиле хоррора */
    padding: 20px;
    min-width: 250px;
    text-align: center; 
    color:#ffffff;
}
.column button:hover {
    cursor: pointer; 
    transition: all 0.4s ease-in-out;
    background-color: #373533;
    box-shadow: 0 0 15px  #373533; /* Неоновый крутой шлейф */
    transform: translateY(-1px); /* Интерактивный подскок */
}

